<div class="container-fluid">

    <div class="row backcfoto d-flex align-items-center">

    </div>

    <div class="row backcfoto d-flex align-items-center">

        <div class="col-md-6">


            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
      
      
                  <h1 class="fs-54">Seja Bem Vinde!</h1>
                  <h6 class="fs-18 lead">Essa área é reservada para você postar suas atividades!</h6>
                </div>
              </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova
                        Postagem</button>

                    <button class="btn btn-outline-light" routerLink='/timeline' href="#postagens">Ver Postagens</button>
                </div>
            </div>

        </div>

        <div class="col-md-6 d-flex justify-content-center">
        </div>
    </div>
</div>

<div class="container mb-5 mt-5" id="postagens">
    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

            <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab"
                data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens"
                aria-selected="true">Todas as Postagens</a>

            <a class="nav-item nav-link text-secondary font-weight-bold"
                id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab"
                aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
                Postagens</a>

            <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagemCategoria-tab"
                data-toggle="tab" href="#postagemCategoria" role="tab" aria-controls="nav-postagemCategoria"
                aria-selected="false">Postagens por
                Categoria</a>
        </div>
    </nav>

    

    

        <div class="tab-content mt-5" id="nav-tabContent">

            <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
                aria-labelledby="nav-todasPostagens-tab">
    
                <div class="card-columns">
                    <div class="card text-center" *ngFor='let item of listaPostagens'>
                        <div class="card-body">
                            <h5 class="card-title m-0">{{item.titulo}}</h5>
                            <small class="text-muted">Categoria: {{item.categoria.categoria}}</small>
                            <p class="card-text mt-3">{{item.descricao}}</p>
                            <p class="card-text"><small class="text-muted">{{item.dataPostagem | date: 'dd/MM/yyyy'}} às
                                    {{item.dataPostagem | date: 'HH:mm'}}</small></p>
    
                            <p class="card-text"><small class="text-muted"> by: {{item.usuario.nome}}</small></p>
    
                        </div>
                    </div>
                </div>
    
    
            </div>


        <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

            <div class="card-columns">
                <div class="card text-center" *ngFor='let item of listaPostagens'>
                    <div class="card-body" *ngIf="item.usuario.id == idUser">
                        <h5 class="card-title m-0">{{item.titulo}}</h5>
                        <small class="text-muted">Categoria: {{item.categoria.categoria}}</small>
                        <p class="card-text mt-3">{{item.descricao}}</p>
                        <p class="card-text"><small class="text-muted">{{item.dataPostagem | date: 'dd/MM/yyyy'}} às
                                {{item.dataPostagem | date: 'HH:mm'}}</small></p>

                        <p class="card-text"><small class="text-muted"> by: {{item.usuario.nome}}</small></p>
                        <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3" href="">Editar</a>
                        <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>
                    </div>
                </div>

            </div>

        </div>

       


<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="titulo">Título</label>
                    <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
                        placeholder="Digite o titulo">
                </div>

                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea [(ngModel)]='postagem.descricao' class="form-control" name="descricao" id="descricao"
                        rows="3"></textarea>
                </div>


                <div class="form-group">
                    <label for="texto">Escolha uma categoria ou <a data-dismiss="modal">cadastre uma nova</a>: </label>
                    <select name="categoria" id="categoria" class="form-control" [(ngModel)]='idCategoria'
                        (change)='findByIdCategoria()'>
                        <option *ngFor='let item of listaCategorias' value="{{item.id}}">{{item.categoria}}</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" (click)='publicar()'
                    data-dismiss="modal">Publicar</button>
            </div>
        </div>
    </div>
</div>