<!--
<div class="container-fluid bgsobrenos">


    <div class=" mb-5 mt-5">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mb-4 font-weight-bold text-center">PATROCINADORES</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" role=auto>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card w-100">

                                        <img class="card-img-top"
                                        src="https://i.pinimg.com/564x/a8/dc/97/a8dc97fdfdc95c2169521ede4fe8a035.jpg"
                                        alt="Card image cap">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card w-100">
                                        <img class="card-img-top"
                                            src="https://i.pinimg.com/564x/a8/dc/97/a8dc97fdfdc95c2169521ede4fe8a035.jpg"
                                            alt="Card image cap">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card w-100">
                                        <img class="card-img-top"
                                            src="https://i.pinimg.com/564x/a8/dc/97/a8dc97fdfdc95c2169521ede4fe8a035.jpg"
                                            alt="Card image cap">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card w-100">
                                        <img class="card-img-top"
                                            src="https://i.pinimg.com/564x/a8/dc/97/a8dc97fdfdc95c2169521ede4fe8a035.jpg"
                                            alt="Card image cap">

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card w-100">
                                        <img class="card-img-top" src="assets/image/google.png" alt="Card image cap">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card w-100">
                                        <img class="card-img-top"
                                            src="https://i.pinimg.com/564x/a8/dc/97/a8dc97fdfdc95c2169521ede4fe8a035.jpg"
                                            alt="Card image cap">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card w-100">
                                        <img class="card-img-top"
                                            src="https://i.pinimg.com/564x/a8/dc/97/a8dc97fdfdc95c2169521ede4fe8a035.jpg"
                                            alt="Card image cap">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card w-100">
                                        <img class="card-img-top" src="assets/image/google.png" alt="Card image cap">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>
</div>
-->
<body class="bgsobrenos md-5 p-10 bg-transparent">
    <div class="container-fluid p-10">

        <div class="'mb-10 mt-10">

            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-4 font-weight-bold text-center grow">Patrocinadores</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 p-10">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" role=auto>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="../../assets/IMG/patrocinadores/Prancheta 1.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="../../assets/IMG/patrocinadores/Prancheta 2.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="../../assets/IMG/patrocinadores/Prancheta 3.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="../../assets/IMG/patrocinadores/Prancheta 4.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="../../assets/IMG/patrocinadores/Prancheta 5.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="../../assets/IMG/patrocinadores/Prancheta 6.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="../../assets/IMG/patrocinadores/Prancheta 7.png"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card w-50">
                                            <img class="card-img-top"
                                                src="../../assets/IMG/patrocinadores/Prancheta 8.jpg"
                                                alt="Card image cap">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </div>
<hr>
